@model intelex_interview.Models.structure

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        <br /> <br />

        @using(Html.BeginForm())
        {
            if (ViewBag.count == 0)
            { <p>There are no folders</p>}
            else
            {
            <p>Folder List</p>
            
            @Html.DropDownList("folders");
                <br /><br />
                <p>Please select the base folder where you want to create the new folder.  </p><br />
                
            }
            
            @Html.DisplayFor(x => x.Name)
            
            @Html.TextBoxFor(x => x.Name)
            
            <br /><br />
            
            <input type="submit" value="Add" />
            
        }
    </div>
</body>
</html>
