@model IEnumerable<intelex_interview.Models.folderListModel>

@functions{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
 
        <br /><br />

            <h2>List of folders</h2>
            
            @if (ViewBag.count == 0)
            { <strong>There are no folders</strong>}
            else
            {
               @helper Showfolder(IEnumerable<intelex_interview.Models.folderListModel> f)
                {
                    <ul>    
                        @foreach ( var record in f)
                        {                          
                            <li>
                                @record.Name
                                                              
                                 @if(record.subfolders!=null)
                                {
                                    @Showfolder(record.subfolders)
                                }
                            </li>
                            }                       
                    </ul>
                  
                    
                }
                
                @Model.First().Name;
                
                @Showfolder(Model.First().subfolders)

            }
            
        

</body>
</html>
